.backgroundImage {
  background-image: url('/aboutme_img.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .backgroundImage {
    background-image: none;
  }
}