.section {
  margin: 0px;
  padding: clamp(1.5rem, -0.546rem + 6.55vw, 4rem) clamp(1.5rem, -3.001rem + 14.4vw, 6rem);
  background-color: var(--section-bg-color);
  border: 0.1rem solid var(--bg-color);
}