@import url("../../index.css");

.menu {
  display: block;
  font-size: clamp(1rem, -0.318rem + 2.62vw, 1.5rem);
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 0.3rem 0;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
}

.menu:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

/* NavLink(aタグ)のページにいる際のスタイル適用 */
a.active {
  color: var(--bg-color);
  background-color: var(--text-color);
}