.h2-left {
  margin-top: 4px;
  height: 70%;
  width: clamp(1.125rem, 0.767rem + 1.15vw, 1.563rem);
  margin-right: clamp(0.7rem, 0.455rem + 0.79vw, 1rem);
  border: 0.1rem solid var(--bg-color);
}

.h2-right {
  height: 50%;
  margin-left: clamp(0.7rem, 0.455rem + 0.79vw, 1rem);
  border-bottom: 0.1rem solid var(--bg-color);
}

.h2-custom {
  line-height: normal
}