.h4Right {
  margin-right: clamp(0.3rem, 0.218rem + 0.26vw, 0.4rem);
  padding-right: clamp(0.6rem, 0.436rem + 0.52vw, 0.8rem);
  border-top: 0.1rem solid var(--bg-color);
  border-left: 0.1rem solid var(--bg-color);
  border-bottom: 0.1rem solid var(--bg-color);
}

.h4Left {
  margin-left: clamp(0.3rem, 0.218rem + 0.26vw, 0.4rem);
  padding-left: clamp(0.6rem, 0.436rem + 0.52vw, 0.8rem);
  border-top: 0.1rem solid var(--bg-color);
  border-right: 0.1rem solid var(--bg-color);
  border-bottom: 0.1rem solid var(--bg-color);
}