.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transformで要素の半分を左上に移動 ※50%から要素を表示すると実際は少し中央からズレるため */
  transform: translate(-50%, -50%);
}

.loading-text {
  color: #D2CD39;
  font-weight: bold;
  font-size: clamp(1.2rem, 0.955rem + 0.79vw, 1.5rem);
  margin-left: clamp(1rem, 0.182rem + 2.62vw, 2rem);
  margin-right: 0.5rem;
}