.header {
  display: flex;
  justify-content: center;
  transition: transform 300ms ease-in-out;
}

.header:hover {
  transform: scale(1.04) translateY(-1px);
}

@media (min-width: 1111px) {
  .header:hover {
    transform: scale(1.1) translateY(-3px);
  }
}