/* 変数(var)定義 */
:root {
  /* https://min-max-calculator.9elements.com/ */
  --html-margin: clamp(0.5rem, -0.318rem + 2.62vw, 1.5rem);
}

/* 全ての要素のデフォルトの余白、スタイルをリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  margin: var(--html-margin);
  /* 100vhから余白を除く */
  height: calc(100vh - (var(--html-margin) * 2));
}